.profile__card {
  display: flex;
  width: 20%;
}

.logo {
  /* width: 200px;
  height: 200px; */
  background: transparent;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}